.bg-main{
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.bgcolor{
  background-color: #DDDDDD;
  color: black;
}

.dino {
  /* display: flex; */
  /* background-color: #61dafb; */
}
.dino-hover {
  display: none;
  /* background-color: #61dafb; */
}

.text-title-bar {
  color: black;
  font-weight: 700;
}
.text-title-bar:hover {
  color: white;
  background-color: #1c0af2;
  cursor: pointer;
}

.text-title-bar:hover .dino {
  display: none;
}

.text-title-bar:hover .dino-hover {
  display: block;
}

.text-bar-cl {
  color: black;
  font-weight: 700;
  cursor: default;
}
.text-bar {
  color: black;
  font-weight: 700;
}
.text-bar:hover {
  color: white;
  background-color: #1c0af2;
  cursor: pointer;
}

.font-windows {
  font-family: "Windows";
  letter-spacing: 1px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
