/* .runner-container ~ .runner-container{
  display: none;
}  */

.bg-main{
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(228, 228, 228, 0.17);
}
.bg-controller{
  background-image: url("./assets/bg-remote.jpeg");
  opacity: 0.7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.border-retro {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(130, 130, 130) rgb(255, 255, 255) rgb(255, 255, 255) rgb(130, 130, 130);
}

.bg-gradient {
  background: hsla(240, 22%, 31%, 1) !important;

  background: linear-gradient(90deg, hsla(240, 22%, 31%, 1) 0%, hsla(240, 21%, 67%, 1) 100%) !important;

  background: -moz-linear-gradient(90deg, hsla(240, 22%, 31%, 1) 0%, hsla(240, 21%, 67%, 1) 100%) !important;

  background: -webkit-linear-gradient(90deg, hsla(240, 22%, 31%, 1) 0%, hsla(240, 21%, 67%, 1) 100%) !important;
}

.bg-schedule {
  background-color: #fff88e !important;
}

.line-schedule {
  border-bottom: solid 1px #9e9e9e !important;
}

.box {
  /* background-color: aqua; */
  position: absolute;
  /* cursor: move; */
  margin: auto;
  user-select: none;
  top: 200px;
  left: 190px;
}

.bgcolor{
  background-color: #d6cfc7;
  color: black;
}

.dino-hover {
  display: none;
  /* background-color: #61dafb; */
}

.text-title-bar {
  color: black;
  font-weight: 700;
}
.text-title-bar:hover {
  color: white;
  background-color: #082d76;
  cursor: pointer;
}

.text-title-bar:hover .dino {
  display: none;
}

.text-title-bar:hover .dino-hover {
  display: block;
}

.text-bar-cl {
  color: black;
  font-weight: 700;
  cursor: default;
}
.text-bar {
  color: black;
  font-weight: 700;
}
.text-bar:hover {
  color: white;
  background-color: #082d76;
  cursor: pointer;
}

.font-windows {
  font-family: "Windows";
  letter-spacing: 1px;
}

.font-window {
  font-family: "Windows";
  letter-spacing: 1px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
